data/

.idea/
.ipynb_checkpoints/
neuronal_motifs/client/node_modules/
neuronal_motifs/server/utils/access_token.json

neuronal_motifs/client/node_modules/

.DS_Store

*.pyc

*.pclprof

neuronal_motifs/server/secrets/access_token.json
