data/

.idea/
.ipynb_checkpoints/
neuronal_motifs/client/node_modules/
neuronal_motifs/server/secrets/access_token.json
neuronal_motifs/server/vimo

.DS_Store

*.pyc

*.pclprof

node_modules/

neuronal_motifs/server/cache.zip
