#motif-panel-div {
    position: absolute;
    top: 10vh;
    left: 25vw;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}