/* Scale canvas with resize attribute to full size */
canvas, .canvas-wrapper {
    height: 100%;
    width: 100%;
}


.sketch-panel-style {
    height: 30vh;
    width: 25vw;
    border-radius: 6px;
    border: thin solid #b9b7b7;
    cursor: crosshair;
    margin: 0 20px;
}

.eraser {
    position: absolute;
    top: 5px;
    right: 5px;
}