/* Scale canvas with resize attribute to full size */
canvas {
    height: 30vh;
    width: 25vw;

}

.sketch-panel-style{
    border-radius: 6px;
    border: thin solid #b9b7b7;
    cursor: crosshair;
    margin-left: 23px;
    margin-right: 15px;
}
.eraser {
    position: absolute;
    top: 5px;
    right: 5px;
}